<p>Hi <%= @account.full_name %>,</p>
<p>Your OTP for password reset is:</p>
<h2><%= @otp %></h2>
<p>This OTP is valid for 5 minutes.</p>
<p>If you did not perform this action, please contact our support right away.</p>
<p style="margin-top:24px;">Best regards,<br>Team Ceramicry</p>