<h2 style="color: #dd3546;">New Exclusive Offer!</h2>
<p>Hi <%= @user.full_name || @user.email %>,</p>
<p><%= @offer.description %></p>
<p>Use code: <span style="background:#edf2fa;padding:2px 6px;border-radius:4px;"><%= @offer.code %></span></p>
<p><b>Hurry, limited time only!</b></p>
<p style="margin-top:24px;">Happy shopping!<br>Team Ceramicry</p>
