<h2 style="color: #3b82f6;">Password Updated</h2>
<p>Hello <%= @user.full_name || @user.email %>,</p>
<p>We wanted to let you know your password was recently updated.</p>
<p>If you did not perform this action, please contact our support right away.</p>
<p style="margin-top:24px;">Best regards,<br>Team Ceramicry</p>
